
/*----------------------------------------------------
Sketchbook
----------------------------------------------------*/


.page-title {
    margin: 0 0 15px;
    text-align: center;
}

.page-title div {
    max-width: 350px; 
    margin: 0 auto;
}

.page-title > h1 {
    margin-top: 0;
}


.sketchbook-img 
{
    position: relative; 
    width: 350px;
}

.sketchbook-img > div
{
    position: absolute; 
    right: 15%;
}

.sketchbook-img > div > h3
{
    color: #f1f1f1;
}

.sketchbook-wrapper > ul
{
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sketchbook-wrapper > ul li {
    display: inline-block;
}

.sketchbook-wrapper li {
    border-bottom: 1px solid #333;
}

.sketchbook-wrapper li.last{
    border-bottom: none;
}

.sketchbook-wrapper .sketch {
    width: 100%; 
    max-width: 400px;    
    margin: auto;
    padding-bottom: 30px;
}

.thumb > a {
    display: block;
    background-color: #333;
    border-color: rgba(157,173,141,0.1);
    /* 4:3 aspect ratio */
    padding-top: 75%;
    /* center align pt. 1 */
    position: relative;
}

.thumb > a > img {
    /* fit within container */
    max-width: 100%;
    max-height: 100%;
    /* center align pt. 2 */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;  
}