@using Orchard.Utility.Extensions;
@{       
    var mediaUrl = Model.ContentItem.Sketch.SketchImage.FirstMediaUrl;
    
}   
<div class="sketch">
    @if (Model.Meta != null)
    {
        <div class="metadata">
            Poops! @mediaUrl
            @Display(Model.Meta)
        </div>
    }
    <table style="width: 100%">
          <tr>
              <td style="text-align: center">
                  <img src="@mediaUrl" class="img-responsive" style="max-width: 700px" />
              </td>
          </tr>
    </table>
    
</div>         
    