/*
Soule Designs Home page style
*/


.jumbotron
{
    background: none!important;    
    padding: 20px 0px 60px!important;    
    position: relative;
    border-bottom: 3px solid rgba(167,181,153,0.1);
    border-radius: 0px!important;
}

.jumbotron.last 
{
    border-bottom: none;
}

.jumbotron h2
{
    font-size: 50px!important;    
    /*color:rgb(255, 181, 26) !important;*/
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3)
}

.home-icons
{
    height: 180px;
    width: 180px;        
    position: absolute;
    right: 0;
    top: 20px;
    opacity: 0.2;
}

.home-icons.cg-art
{
    background:  transparent url(../../Images/Home/home-icons-cg.png) no-repeat left top;
	/* Svg overrides png in supported browsers */    
    background-size: contain;    
	background-image: url(../../Images/Home/home-icons-cg.svg), none;        
}

.home-icons.design
{
    background:  transparent url(../../Images/Home/home-icons-design.png) no-repeat left top;
	/* Svg overrides png in supported browsers */    
    background-size: contain;
	background-image: url(../../Images/Home/home-icons-design.svg), none;
}

.home-icons.develop
{
    background:  transparent url(../../Images/Home/home-icons-dev.png) no-repeat left top;
	/* Svg overrides png in supported browsers */
    background-size: contain;
	background-image: url(../../Images/Home/home-icons-dev.svg), none;
}

.home
{
    display: none;
}

 .home-slide
{    
    margin-top: -35px;    
}

.layout-wide .col-md-12
{
    padding: 0;
}

#footer-wrapper
{
    margin-top: 0px!important;
}

/*-------------------------------------------------
Home-ify Navbar

#sd-nav-fill, #sd-nav-menu, #navbar-wrapper .navbar
{
    background:none!important;
    box-shadow: none!important;
}

#navbar-wrapper .navbar
{
    background-color: rgba(255,255,255, 0.5)!important;
}

#navbar-wrapper .navbar-default .nav > li > a, 
#sd-nav-search .btn::after
{
    color: #fff!important;
}

#navbar-wrapper .navbar-default .navbar-nav > li > a:hover,
#sd-nav-search .btn:hover:after
{
    color: rgb(255, 181, 26)!important;
}

#sd-nav-search > .btn
{
    border-left-color: #fff!important;
}
-------------------------------------------------- */

/*-------------------------------------------------
 Carousel
-------------------------------------------------- */

/* Carousel base class */
.carousel {  
  margin-bottom: 0px;
}

.carousel h1 {
    color: #eee;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  /*z-index: 10!important;*/
  text-align: left!important;  
}

.carousel-caption h1, 
.carousel-caption p {
    color: #fff;
}

/* Declare heights because of positioning of img element
.carousel-inner .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;  
}*/

.carousel-control {
    font-size: 35px;
}

.left.carousel-control, .right.carousel-control {
    background-image: none!important;    
}

 .carousel, .carousel .item {
    height: 850px;    
    background-color: #ccd8bd;
}

@media screen and (min-height: 801px) and (max-height: 900px) {
     .carousel, .carousel .item {
        height: 700px;
    }    
}


  @media screen and (min-height: 701px) and (max-height: 800px) {
     .carousel, .carousel .item {
        height: 600px;
    }    
}

 @media screen and (min-height: 601px) and (max-height: 700px) {
     .carousel, .carousel .item {
        height: 500px;
    }    
}

 @media screen and (max-height: 600px) {
     .carousel, .carousel .item {
        height: 400px;
    }    
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next 
     {
        width: 38px!important;
        height: 38px!important;
        margin-top: -19px!important;
        margin-left: -19px!important;
        font-size: 38px!important;
     }
}

 @media screen and (min-width: 1024px)
{
     .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next 
     {
        width: 52px!important;
        height: 52px!important;
        margin-top: -26px!important;
        margin-left: -26px!important;
        font-size: 52px!important;
     }
 }
 .carousel-control
 {
     z-index: 2;
 }

 .carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-out .4s;
  -o-transition: opacity ease-out .4s;
  -webkit-transition: opacity ease-out .4s;
  transition: opacity ease-out .4s;
  transition-duration: .4s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1 !important;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-out .4s;
  -o-transition: opacity ease-out .4s;
  -webkit-transition: opacity ease-out .4s;
  transition: opacity ease-out .4s;
  z-index:2 !important;
}



/*-------------------------------------------------
 Welcome Wrapper
-------------------------------------------------- */
#welcome-wrapper 
{
    /*margin: 0px auto;
    position: relative;    
    top: 45%;
    left: 50%;*/

}
    
#welcome-wrapper h1
{
       margin-top: -16px;
       margin-left: -30px;
}

#welcome-wrapper h1 a
{
    display: block;
    border: none;
    width: 500px;         	
	height: 115px;	
	padding: 0;
	background:  transparent url(../../Images/Shared/soule-designs-svg.png) no-repeat 0 0px;
    background-size: cover;
	/* Svg overrides png in supported browsers */
	background-image: url(../../Images/Shared/soule-designs.svg), none;   
}

#welcome-wrapper h2
{    
    color: #F3FCEB;
    font-family: 'Oswald', Helvetica, Sans-Serif;    
    font-size: 35px;
    text-transform: uppercase;    
    margin-bottom: 0;    
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

}

#welcome-wrapper h3
{
    color: #F3FCEB;
    font-family: 'Oswald', Helvetica, Sans-Serif;
    font-size: 42px;
    line-height: 41px;
    text-transform: uppercase;   
    margin-top: -30px; 
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

}
@media screen and (max-width: 1024px) {
    #welcome-wrapper {
        left: 30%;
    }
}

@media screen and (max-width: 600px) {
    #welcome-wrapper
    {
        left: 20%;
    }
}

/* Adjust font size for tiny screens, iOS, etc. without wrapping */
@media screen and (max-width: 480px), screen and (max-height: 700px){
    #welcome-wrapper h2
    {        
        font-size: 20px;
		top: 202px;
    }
    #welcome-wrapper h1 a {
        width: 300px;        
	    height: 68px;	
    }

    #welcome-wrapper h1
    {
       margin-top: -6px;
       margin-left: -10px;
    }

    #welcome-wrapper h3
    {    
        font-size: 24px;
        line-height: 23px;
		top: 290px;
        margin-top: -20px;
    }
}