@{
    Layout.Title = Model.Title;
}

<div class="page-header clearfix">
    <h1 class="pull-left"><span class="small">Posts tagged with</span> @Model.Title</h1>
    <div class="pull-right"><a><i class="fa fa-list"></i> All posts</a></div>
</div>
