@{    
    var homeUrl = Href("~/");
}
<div class="soule-designs-contact">
    <a class="logo" href="@homeUrl"></a>
    <address>
        @*710 Hemlock Road<br />*@
        Media, PA 19063<br />
        <a href="mailto:inquiries@souledesigns.com">inquiries@souledesigns.com</a>
        </address>
        <p>
        <a href="http://www.linkedin.com/in/owensoule" target="_blank" title="Connect on LinkedIn"><i class="fa fa-linkedin"></i></a>        
        <a href="https://twitter.com/SouleDesigns" target="_blank" title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
        @*<a href="http://www.pinterest.com/souledesigns/" target="_blank" title="Follow on Pintrest"><i class="fa fa-pinterest"></i></a>*@
        <a href="https://github.com/SouleDesigns" target="_blank" title="Github code"><i class="fa fa-github"></i></a>        
        <a href="http://vimeo.com/souledesigns" target="_blank" title="Watch Vimeo"><i class="fa fa-vimeo-square"></i></a>
        <a href="https://connect.garmin.com/modern/profile/SouleDesigns" target="_blank" title="Garmin Connect"><i class="fa sd sd-garmin-connect"></i></a>
        </p>
</div>